<div id="subNavHealth"  class="submenuContainer" ng-class="{open : Nav.menuOpenStatusHealth}">
    <div class="container">
        <ul class="clearfix" >
            <li class="">
                <ul>
                    <li>
                        <a href="App/HealthRecords/RxPrescriptions">
                            <div class="subNavItem" style="background-image:url('@Url.Content("~/Content/Images/btn_bak_rx.png")')">
                                <span>{{"subnav_RxPrescriptions" | translate}}</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="App/HealthRecords/MedicalClaims">
                            <div class="subNavItem" style="background-image:url('@Url.Content("~/Content/Images/btn_bak_claims.png")')">
                                <span>{{"subnav_MedicalClaims" | translate}}</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="App/HealthRecords/ImmunizationRecords">
                            <div class="subNavItem" style="background-image:url('@Url.Content("~/Content/Images/btn_bak_form.png")')">
                                <span>{{"subnav_ImmunizationRecords" | translate}}</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="App/HealthRecords/LabWork">
                            <div class="subNavItem" style="background-image:url('@Url.Content("~/Content/Images/btn_bak_lab.png")')">
                                <span>{{"subnav_LabWork" | translate}}</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="App/HealthRecords/Authorizations/All">
                            <div class="subNavItem" style="background-image:url('@Url.Content("~/Content/Images/btn_bak_authorize.png")')">
                                <span>{{"subnav_Authorizations" | translate}}</span>
                            </div>
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </div>
</div>