

DEPRECATED


@model MemberPortalWebClient.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", name = "registration", novalidate = "novalidate" }))
  
    {
        <div id="registerForm" class="panel form" style="width:700px;">
                <h4> AAA {{'form_createANewAccount' | translate}}</h4> 
        <hr />
        @Html.ValidationSummary("",new { @class = "text-danger" })

      
        <div class="form-group" show-errors>
            @*@Html.LabelFor(m => m.MemberId, new { @class = "col-md-2 control-label" })*@
            <label class="col-md-2  control-label"> {{'form_IEHPMemberID' | translate}} </label> 
            <div class="col-md-6 col-xs-11">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.MemberId, new { @class = "form-control", ng_model = "MemberId", ng_maxlength = "12", ng_minlength = "12", ng_required = "true", ng_readonly = "MemberDataIsValid" })
                    <span class="input-group-addon help-block-btn">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </span>
                </div>
                <i class="glyphicon glyphicon-ok" ng-class="{'show' : registration.MemberId.$valid}"></i>
                <p class="help-block hide">Yo....this was supposed to be x,y & z.</p>
            </div>
        </div>

        <div class="form-group" show-errors>
            @*@Html.LabelFor(m => m.MemberLastFour, new { @class = "col-md-2 control-label" })*@
            <label class="col-md-2  control-label"> {{'form_IEHPMemberID' | translate}} </label> 
            <div class="col-md-6 col-xs-11">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.MemberLastFour, new { @class = "form-control", ng_model = "MemberLastFour", ng_maxlength = "4", ng_minlength = "4", ng_required = "true", ng_readonly = "MemberDataIsValid" })
                    <span class="input-group-addon help-block-btn">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </span>
                </div>
                <i class="glyphicon glyphicon-ok" ng-class="{'show' : registration.MemberLastFour.$valid}"></i>
                <p class="help-block hide">Yo....this was supposed to be x,y & z.</p>
            </div>
        </div>
        
        <div class="form-group" show-errors>
            @*@Html.LabelFor(m => m.MemberDob, new { @class = "col-md-2 control-label" })*@
            <label class="col-md-2  control-label"> {{'form_dateOfBirth' | translate}} </label>
            <div class="col-md-6 col-xs-11">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.MemberDob, new { @class = "form-control", ng_model = "MemberDob", datepicker_popup = "MM/dd/yyyy", ng_required = "true", datepicker_options = "dateOptions", is_open = "opened", close_text = "Close", max_date = "maxDate", ng_readonly = "MemberDataIsValid" })
                    <span class="input-group-addon help-block-btn">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </span>
                    <span class=" input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
                <i class="glyphicon glyphicon-ok" ng-class="{'show' : registration.MemberDob.$valid}"></i>
                <p class="help-block hide">Yo....this was supposed to be x,y & z.</p>
            </div>
        </div>

        <div class="form-group" show-errors>
            @*@Html.LabelFor(m => m.SecretPin, new { @class = "col-md-2 control-label" })*@
            <label class="col-md-2  control-label"> {{'form_pinPCPID' | translate}} </label>
            <div class="col-md-6 col-xs-11">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.SecretPin, new { @class = "form-control", ng_model = "SecretPin", ng_required = "true", ng_readonly = "MemberDataIsValid" })
                 
                    <span class="input-group-addon help-block-btn">
                        <i class="glyphicon glyphicon-question-sign"></i>
                    </span>
                </div>
                <i class="glyphicon glyphicon-ok" ng-class="{'show' : registration.SecretPin.$valid}"></i>
                <p class="help-block hide">Yo....this was supposed to be x,y & z.</p>
            </div>
        </div>

             
            <div class="row">
                <div class="formButton col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input type="button" class="btn btn-default btn-lg " value="{{'form_verify' | translate}}" ng-click="VerifyMemberData()" />
                </div>
            </div>
           
             

        <div ng-show="MemberDataIsValid">

            <div class="form-group">
                @*@Html.LabelFor(m => m.RelationToMember, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-2  control-label"> {{'form_relation' | translate}} </label>
                <div class="col-md-6 col-xs-11">
                    @Html.DropDownListFor(m => m.RelationToMember, new List<SelectListItem>() { new SelectListItem() { Selected = true, Text = "Select", Value = "" }, new SelectListItem() { Selected = false, Text = "Self", Value = "Self" }, new SelectListItem() { Selected = false, Text = "Gaurdian", Value = "Gaurdian" }, new SelectListItem() { Selected = false, Text = "Parent", Value = "Parent" } }, new { @class = "form-control", ng_model = "RelationToMember", ng_change="RelationToMemberChanged()" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-2  control-label"> {{'form_firstName' | translate}} </label>
                <div class="col-md-6 col-xs-11">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", ng_model = "FirstName", ng_readonly = "RelationToMember == 'Self'" })
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.LastName, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-2  control-label"> {{'form_lastName' | translate}} </label>
                <div class="col-md-6 col-xs-11">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", ng_model = "LastName", ng_readonly = "RelationToMember == 'Self'" })
                   
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.StreetAddress, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-2  control-label"> {{'form_address' | translate}} </label>
                <div class="col-md-6 col-xs-11">
                    @Html.TextBoxFor(m => m.StreetAddress, new { @class = "form-control", ng_model = "StreetAddress", ng_readonly = "RelationToMember == 'Self'" })
                  
                 </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.StreetAddressAdditional, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-2  control-label"> {{'form_unitApartment' | translate}} </label>
                <div class="col-md-6 col-xs-11">
                    @Html.TextBoxFor(m => m.StreetAddressAdditional, new { @class = "form-control", ng_model = "StreetAddressAdditional", ng_readonly = "RelationToMember == 'Self'" })
                  
                </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-2  control-label"> {{'form_city' | translate}} </label>
                <div class="col-md-6 col-xs-11">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", ng_model = "City", ng_readonly = "RelationToMember == 'Self'" })
        
                 </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.State, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-2  control-label"> {{'form_state' | translate}} </label>
                <div class="col-md-6 col-xs-11">
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control", ng_model = "State", ng_readonly = "RelationToMember == 'Self'" })
                    
                 </div>
            </div>
            <div class="form-group">
                @*@Html.LabelFor(m => m.Zip, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-2  control-label"> {{'form_zip' | translate}} </label>
                <div class="col-md-6 col-xs-11">
                    @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", ng_model = "Zip", ng_readonly = "RelationToMember == 'Self'" })
                   
               </div>
            </div>


            <div class="form-group">
                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-2  control-label"> {{'form_email' | translate}} </label>
                <div class="col-md-6 col-xs-11">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", ng_model = "Email" }) 
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-2  control-label"> {{'form_password' | translate}} </label>
                <div class="col-md-6 col-xs-11">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", ng_model = "Password" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })*@
                <label class="col-md-2  control-label"> {{'form_confirmPassword' | translate}} </label>
                <div class="col-md-6 col-xs-11">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", ng_model = "PasswordConfirmation" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-6 col-xs-11">
                    <input type="button" class="btn btn-default btn-lg " value="{{'form_register' | translate}}" ng-click="submitForm()" />
                </div>
            </div>
        </div>
            </div>
    }
